<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RutaXML" value="C:\Ajedrez" />
		<add key="RutaXMLCuentas" value="C:\Ajedrez\Cuentas.xml" />
		<add key="RutaXMLJugadores" value="C:\Ajedrez\Jugadores.xml" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
</configuration>